<% favorites.forEach(function(favorite) { %>
  <div class="well">
    <h2><%= favorite.title %>
      <small><%= favorite.year %></small>
    </h2>
    <a href="/movies/<%= favorite.imdbID %>" class="btn btn-primary">Show More Details</a>

    <a href="/favorites/<%= favorite.imdbID %>" class="btn btn-danger pull-right delete-btn">Remove</a>
  </div>
<% }); %>